.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
}

img.App-logo {
    width: 40px;
    height: 40px;
}

h1.title {
    font-size: clamp(0.7rem, 2vw , 1.4rem);
}